package models

import (
    "github.com/google/uuid"
)

// {{ .Name }} representa la entidad {{ .Name }} en la base de datos.
type {{ .Name }} struct {
    ID   uuid.UUID `gorm:"type:uuid;primaryKey;"`
    Name string    `gorm:"type:varchar(255);not null"`
}
