FROM golang:{{.GoVersion}}-alpine AS builder
WORKDIR /src

RUN apk add --no-cache git gcc musl-dev 
    
COPY go.mod go.sum ./
RUN go mod download
    
COPY . .
    
ARG TARGETARCH
RUN CGO_ENABLED=0 GOOS=linux GOARCH=${TARGETARCH} go build -o app ./cmd
    
FROM alpine:3.20
    
RUN apk add --no-cache ca-certificates
    
WORKDIR /app
    
COPY --from=builder /src/app .
    
RUN chmod +x app
    
EXPOSE ${PORT}
    
CMD ["./app"]
    