package src

import (
    // ##module_imports##
)

type Container struct {
    // ##module_fields##
}

func SetupContainer() *Container {
    // ##module_inits##

    return &Container{
        // ##module_ctor##
    }
}