package main

import (
    "fmt"
    "log"
    "net/http"
)

func main() {
    http.HandleFunc("/", func(w http.ResponseWriter, r *http.Request) {
        fmt.Fprintln(w, "Hola desde {{.ProjectName}} usando net/http")
    })
    log.Println("Servidor escuchando en :8000")
    log.Fatal(http.ListenAndServe(":8000", nil))
}
